body, main {
    display: flex;
    flex: auto;
body {
    flex-direction: column;
}
}
main, aside {
    flex-direction: row;
}
article {
    flex: 1;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
